@charset "UTF-8";
/* CSS Document */

body, html {
	height: 99%;
	background-color: #446aff;
	position: relative;
}

@keyframes winnerone {
	0%   {background-color:#446aff;}
	50%  {background-color:#6fdb78;}
	100% {background-color:#446aff;}
}

@keyframes winnertwo {
	0%   {background-color:#446aff;}
	50%  {background-color:#ffd863;}
	100% {background-color:#446aff;}
}

/* Field */

#wholefield {
	opacity: 0;
	height: 99vmin;
	width: 99vmin;
	display: table;
	position: absolute;
	border-collapse:separate;
	border-spacing:0.5vmin;
	left: 50%;
  	top: 50%;
	transform: translate(-50%, -50%);
}

.row {
	display: table-row;
}

.field {
	border-radius: 50%;
	display: table-cell;
	background-color: #263a8c;
	/*background-size: 100% 100%;*/
}

.field:hover {
    background-color: #a8e6ed;
}

/*Menu*/

.overlay {
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100vw;
	position: fixed;
	opacity: 1;
	text-align: center;
}

#menu {
	transition: transform 0.75s ease-in;
	z-index:  10;
}

button {
	font-size: large;
	font-weight: 300;
	height: calc(100%/3);
	width: 100%;
	background-color: #6fdb78;
	color: #ffffff;
	border: none;
}

#algorithms {
	position:fixed;
	transform: translateX(1000vw);
	display: none;
	z-index: 9;
	transition: transform 2s ease-out;
}


/*Loader*/

#loader {
    display: none;
    position: absolute;
    bottom: 1%;
    right: 1%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    height: 30px;
    width: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 8;

}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
